<div class= "border-form-div" >
<p>

	<% unless comment.id.nil?  %>
  <strong>Name:</strong>
  <i><%= comment.email %> <%="  commented at " %><%= comment.created_at %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
 
 <% if authorized_to_delete_comment(comment.post) %>
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure to delete ?' } %>
</p>
<% end %>
<% end %>
</div>